<main class="container">
    <h1>Analizador de platillos Gemini AI</h1>
    <div class="input-group">
        <label class="label-input">Ingresa la imagen de tu comida</label>
        <input type="file" name="image-input" (change)="getFile($event)" class="image-input">
    </div>
    @if(isLoading){
    <app-loading></app-loading>
    }

    @if(imgPreview() && recipe() && !isLoading){
    <div class="conatiner-image">
        <img [src]="imgPreview()" alt="vista previa" width="500px" class="image">
    </div>
    }

    @if (!isLoading && recipe(); as recipe) {
    <div class="container-info">
        <div class="item">
            <h4>Nombre del plato</h4>
            <span>{{ recipe.name }}</span>
        </div>
        <div class="item">
            <h4>País de origen</h4>
            <span>{{ recipe.country }}</span>
        </div>
        <div class="item">
            <h4>
                Ingredientes:
            </h4>
            <ul class="ingredients">
                @for(ingredient of recipe.ingredients; track ingredient){
                <li>{{ ingredient }}</li>
                }
            </ul>
        </div>
        <div class="item">
            <h4>Preparación</h4>
            <span class="light">{{ recipe.recipe }}</span>
        </div>
        <div class="item">
            <h4>Detalles adicionales</h4>
            <span class="light">
                {{ recipe.details }}
            </span>
        </div>
    </div>
    }
</main>